<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96756890255-3g9n26v53nemekei7o1m8jv28hmtuaao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96756890255-3g9n26v53nemekei7o1m8jv28hmtuaao</string>
	<key>API_KEY</key>
	<string>AIzaSyBPGIKyhiFuYWuzw74NvnGYy6FCRujJmEo</string>
	<key>GCM_SENDER_ID</key>
	<string>96756890255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.SneakerApp</string>
	<key>PROJECT_ID</key>
	<string>demopro-cd978</string>
	<key>STORAGE_BUCKET</key>
	<string>demopro-cd978.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96756890255:ios:07c3a96e6b23634acd0efa</string>
</dict>
</plist>